*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header{
    background: url("../img/background-header.jpg");
}
div{
    border: 1px solid black;
}
#stars{
    display:inline;
}

.table-container-index{
    display:content;
    background-color: white;
}
.visible{
    display:none;
    background-color: white;
}